<div class="container py-2 h-100 mt-5" style="width: 100%;">
  <div class="justify-content-center align-items-center h-100">
    <div class="card">
      <div class="card-body p-5">
        <div class="d-flex justify-content-center align-items-center mb-4">
          <div class="form-outline flex-fill">
            <input type="text" class="form-control" placeholder="New task..." #titleInput />
          </div>
          <button class="btn btn-info ms-2" style="color: white" (click)="onClick(titleInput)">Add</button>
        </div>

        <!-- Tabs navs -->
        <ul class="nav nav-tabs mb-4 pb-2" id="ex1" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link" [class.active]="selectedTab === 'all'" (click)="selectTab('all')" role="tab" aria-controls="all" aria-selected="true">All</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" [class.active]="selectedTab === 'active'" (click)="selectTab('active')" role="tab" aria-controls="active" aria-selected="false">Active</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" [class.active]="selectedTab === 'completed'" (click)="selectTab('completed')" role="tab" aria-controls="completed" aria-selected="false">Completed</a>
          </li>
        </ul>
        <!-- Tabs navs -->

        <!-- Tabs content -->
        <div class="tab-content">
          <div class="tab-pane fade show active" role="tabpanel">
            <ul class="list-group mb-0">
              <li class="list-group-item d-flex align-items-center border-0 mb-2 rounded"
                  style="background-color: #f4f6f7;" *ngFor="let item of filteredTodoList">
                <input class="form-check-input me-2" type="checkbox" value="" aria-label="..."
                       [checked]="item.isCompleted" (change)="onStatusChange(item.id, !item.isCompleted)" />
                {{ item.title }}
                <button class="btn ms-auto" (click)="onDelete(item.id)"><i class="custom-icon fa fa-times-circle text-danger"></i></button>
              </li>
            </ul>
          </div>
        </div>
        <!-- Tabs content -->
      </div>
    </div>
  </div>
</div>
